.suite, .replier {
  cursor: pointer;
  font-style:italic;
  font-weight: bold;
  clear:both;
  display:block;
  float:right;
}
.field-uitemplates-title {
  float:left;
  clear:left;
  display: block;
}
.field-uitemplates-title::after {
  content:' : ';
  padding-right: 3px;
}
.bold {
  font-weight:bold;
}
.retour {
  clear:both;float:left;
}
.uit-field, .fieldcontentshort, .fieldcontentcomplet {
  margin-bottom: 1em;
  display:block;
  padding-left: 2px;
}
li .uit-field {
  padding: 0;
  margin: 0;
}
.uit-field-wrapper {
  display:block;
  overflow: auto;
}
.uit-list,
.uit-list li,
.uit-field-wrapper {
  clear:both;
}

.field-uitemplates {
  clear:both;
  display: block;
  overflow: auto;
}

.block-uitemplates {
  overflow:visible;
}
.transcripted img {
  border: 1px solid #ac2f2f;
  border-radius: 5px;
}
input[type=button],
#fileinfo label,
button {
    background: #a4c637;
    background: -webkit-linear-gradient(top, #A4C637, #75940A);
    background: -moz-linear-gradient(top, #A4C637, #75940A);
    background: -o-linear-gradient(top, #A4C637, #75940A);
    background: linear-gradient(to bottom, #A4C637, #75940A);
    -webkit-box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
    -moz-box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
    box-shadow: 0px 1px 0px 0px #bdd662 inset, 0px -1px 0px 0px #6a821a inset, 0px 2px 2px 0px #d4d4d4;
    border: 1px solid #749308;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 20px 0;
    min-height: 25px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: -1px -1px 1px rgba(0,0,0,.5);
    white-space: normal;
    clear:none;
    float:left;
}
#fileinfo label {
  background: #ad6345;
  background: -webkit-linear-gradient(top, #ad6345, #7d422a);
  background: -moz-linear-gradient(top, #ad6345, #7d422a);
  background: -o-linear-gradient(top, #ad6345, #7d422a);
  background: linear-gradient(to bottom, #ad6345, #7d422a);
  -webkit-box-shadow: 0px 1px 0px 0px #b87979 inset, 0px -1px 0px 0px #5e3030 inset, 0px 2px 2px 0px #d4d4d4;
  -moz-box-shadow: 0px 1px 0px 0px #b87979 inset, 0px -1px 0px 0px #5e3030 inset, 0px 2px 2px 0px #d4d4d4;
  box-shadow: 0px 1px 0px 0px #b87979 inset, 0px -1px 0px 0px #5e3030 inset, 0px 2px 2px 0px #d4d4d4;
  border: 1px solid #7E432C;
}
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.uitemplates-form {
/*   position:relative; */
}
.uitemplates-form #submit {
  position:fixed;
  top:167px !important;
}
#uitemplates-import-cancel {
  display:none;
}
.uit-menu, uit-form {
  display:block;
  clear:both;
}
#submit-label > label {
  display:none;
}
#primary #plugin_files {
/*   padding:0 !important; */
}
